@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}

<link href="../../Content/cssMain.css" rel="stylesheet" />
<link href="../../Content/bootstrap.min.css" rel="stylesheet" />
<div class="heading" align="center">
    Về MOJI
    <ul>
        <li><a href="GioiThieu" class="active">Giới thiệu</a></li>
        <li><a href="TinTuc">Tin tức</a></li>
        <li><a href="VanHoa">Văn hóa</a></li>
        <li><a href="TuyenDung">Tuyển dụng</a></li>
        <li><a href="ChinhSachBanHang">Chính sách bán hàng</a></li>
        <li><a href="HuongDanMuaHang">Hướng dẫn mua hàng</a></li>
    </ul>
</div>
<br />
<br />
Xin chào các bạn, Moji chúng mình là một chuỗi cửa hàng phụ kiện và quà tặng với vô vàn sản phẩm luôn được cập nhật theo xu hướng hot nhất.
<br />
<br />
Ở Moji, các bạn có thể tìm thấy rất nhiều items hấp dẫn như gấu bông, văn phòng phẩm, items thời trang, phụ kiện điện thoại, sản phẩm idol, đồ trang sức, đồ gia dụng tiện ích,... Hơn thế nữa, không gian cửa hàng siêu cute cũng khiến các tín đồ sống ảo không thể chối từ. Chẳng còn gì thung thướng hơn việc vừa mua được đồ xinh vừa chụp được những tấm hình check-in long lanh lóng lánh phải hem nào?
<br />
<br />
<div class="row">
    <div class="col-lg-8">
        <img src="../../Content/Image/gioithieu1.png" width="100%" height="100%" />

    </div>
    <div class="col-lg-4">
        <img src="../../Content/Image/gioithieu2.jpg" width="100%" style="padding-bottom:20px" />
        <img src="../../Content/Image/gioithieu3.jpg" width="100%" />
    </div>
</div>
<br />
Được thành lập vào 11/07/2016, sau quá trình trưởng thành và phát triển, Moji hiện có hơn 400 nhân viên, những người luôn hết mình và nhiệt huyết trong mọi hoạt động nhằm đem đến cho khách hàng thân yêu trải nghiệm mua sắm tuyệt vời nhất. Với môi trường làm việc trẻ trung và đầy sáng tạo, Moji đã và đang trở thành gia đình thứ hai của rất nhiều các bạn trẻ đam mê sự đáng yêu và năng động.
<br />
<br />
Bên cạnh đó, Moji cũng có những hoạt động gắn kết các thành viên trong công ty bằng những hoạt động tập thể hấp dẫn như Summer trip, Year end party, trung thu, sinh nhật nhân viên ...
<br />
<br />
<img src="../../Content/Image/gioithieu4.jpg" width="100%" />
<br />
<br />
Cùng sự nỗ lực không ngừng nghỉ, Moji đã chuyển mình, dần mở rộng và phát triển trở thành chuỗi cửa hàng bán lẻ dẫn đầu trong lĩnh vực kinh doanh Phụ kiện - Quà tặng như hiện nay. Ở Hà Nội và TP. Hồ Chí Minh, các bạn có thể mua sắm thoải mái cả tuần tại Moji - Phụ kiện & Quà tặng với 11 chi nhánh:
<br />
<br />


<ul>
    <b>Hà Nội</b>
    <li>82 Bà Triệu, Hoàn Kiếm - 0968.317.253</li>
    <li>Số 241 Chùa Bộc, Đống Đa - 0904.536.337</li>
    <li>Số 60 Trần Đại Nghĩa, Hai Bà Trưng - 0971.913.545</li>
    <li>226 Nguyễn Trãi, Nam Từ Liêm (gần ĐH Hà Nội) - 0987.545.005</li>
    <li>Số 193, Xuân Thủy, Cầu Giấy - 0963.819.567</li>
    <li>Số 7, Ngõ 165 Thái Hà, Đống Đa - 0943.177.784</li>
</ul>
<br />
<br />
<ul>
    <b>TP. Hồ Chí Minh</b>
    <li>92 Hồ Tùng Mậu, P.Bến Nghé, Q1 - 0964.904.992</li>
    <li>459E Nguyễn Đình Chiểu (ngã tư Cao Thắng), P.5, Q.3 - 0932.147.797</li>
    <li>708 Sư Vạn Hạnh, P.12, Q.10 (đối diện chéo Vạn Hạnh Mall) - 0972.243.708</li>
    <li>87 Bàu Cát (đoạn khúc giao Nguyễn Hồng Đào), P.14, Q.Tân Bình - 0933.418.487</li>
    <li> Hoa Lan (cạnh Pizza Hut Phan Xích Long), P.2, Q.Phú Nhuận - 0903.209.850</li>
</ul>
<br />
<br />
Trong giai đoạn tiếp theo, Moji dự kiến sẽ tiếp tục mở mới các cửa hàng tại các thành phố lớn để có thể phục vụ các bạn một cách tốt nhất. Hy vọng các bạn sẽ luôn đồng hành cùng Moji trên những chặng đường phía trước!
<br />
<br />
<i>Thân mến!</i>
<br />
<br />