@{
    ViewBag.Title = "Hệ thống cửa hàng";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}

<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<div class="heading" align="center">
    Hệ thống cửa hàng
    <ul>
        <li><a href="HeThong" class="active">Tất cả</a></li>
        <li><a href="ChiNhanhHaNoi">Hà Nội</a></li>
        <li><a href="ChiNhanhHCM">TP.HCM</a></li>
    </ul>
</div>
<h3 class="tieuDe">Khu vực Hà Nội</h3>
<a href="ChiNhanhHaNoi" align="right" style="font-size:18px;text-align:right">Chi tiết  <i class="fa fa-plus"> </i></a>
<img src="../../Content/Image/hethongHN.jpg" width="100%" />

<h2 class="tieuDe">Khu vực TP.Hồ Chí Minh</h2>
<a href="ChiNhanhHCM" align="right" style="font-size:18px;text-align:right">Chi tiết  <i class="fa fa-plus"> </i></a>
<img src="../../Content/Image/hethongHCM.jpg" width="100%" style="margin-bottom:20px" />

