@{
    ViewBag.Title = "Hệ thống cửa hàng";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}

<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<div class="heading" align="center">
    Hệ thống cửa hàng
    <ul>
        <li><a href="HeThong" class="active">Tất cả</a></li>
        <li><a href="@Url.Action("ChiNhanh","Home",new{ local="HN"})">Hà Nội</a></li>
        <li><a href="@Url.Action("ChiNhanh","Home", new { local="HCM"})">TP.HCM</a></li>
    </ul>
</div>
<!--HaNoi Areas-->
<h3 class="tieuDe">Khu vực Hà Nội</h3>
<a href="@Url.Action("ChiNhanh","Home",new{ local="HN"})" align="right" style="font-size:18px;text-align:right">Chi tiết  <i class="fa fa-plus"> </i></a>
<img src="../../Content/Image/hethongHN.jpg" width="100%" />

<!--HoChiMinh Areas-->
<h2 class="tieuDe">Khu vực TP.Hồ Chí Minh</h2>
<a href="@Url.Action("ChiNhanh","Home", new { local="HCM"})" align="right" style="font-size:18px;text-align:right">Chi tiết  <i class="fa fa-plus"> </i></a>
<img src="../../Content/Image/hethongHCM.jpg" width="100%" style="margin-bottom:20px" />

