@{
    ViewBag.Title = "Hướng dẫn mua hàng";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}

<link href="../../Content/cssMain.css" />
<div class="heading" align="center">
    Về MOJI
    <ul>
        <li><a href="GioiThieu">Giới thiệu</a></li>
        <li><a href="TinTuc">Tin tức</a></li>
        <li><a href="VanHoa">Văn hóa</a></li>
        <li><a href="TuyenDung">Tuyển dụng</a></li>
        <li><a href="ChinhSachBanHang">Chính sách bán hàng</a></li>
        <li><a href="HuongDanMuaHang" class="active">Hướng dẫn mua hàng</a></li>
        
    </ul>
</div>
<img src="../../Content/Image/muahang.jpg" align="center" width="100%" style="margin-bottom:20px" />
