<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div style="padding:20px;">
    <div class="search-box">
        <form class="search-form" action="@Url.Action("SearchProducts","Product")" method="post">
            <input class="form-control" placeholder="Nhập tên sản phẩm..." name="searchText" type="text" style="font-size:16px;">
            <button class="btn btn-link search-btn">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>
    </div>
</div>
<style type="text/css">
    .container {
        padding: 10px;
    }

    .search-box {
        display: inline-block;
        width: 100%;
        border-radius: 3px;
        padding: 4px 55px 4px 15px;
        position: relative;
        background: #fff;
        border: 1px solid #ddd;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

        .search-box.hovered, .search-box:hover, .search-box:active {
            border: 1px solid #aaa;
        }

        .search-box input[type=text] {
            border: none;
            box-shadow: none;
            display: inline-block;
            padding: 0;
            background: transparent;
        }

            .search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
                box-shadow: none;
            }

        .search-box .search-btn {
            position: absolute;
            right: 2px;
            top: 2px;
            color: #aaa;
            border-radius: 3px;
            font-size: 21px;
            padding: 5px 10px 1px;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
        }

            .search-box .search-btn:hover {
                color: #fff;
                background-color: #ffb0bd;
            }
</style>
