@model IEnumerable<Model.NewsModel>
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}
<link href="~/Content/cssMain.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="heading" align="center" style="padding-bottom:20px;">
    Về MOJI
    <ul>
        <li><a href="GioiThieu">Giới thiệu</a></li>
        <li><a href="TinTuc" class="active">Tin tức</a></li>
        <li><a href="VanHoa">Văn hóa</a></li>
        <li><a href="TuyenDung">Tuyển dụng</a></li>
        <li><a href="ChinhSachBanHang">Chính sách bán hàng</a></li>
        <li><a href="HuongDanMuaHang">Hướng dẫn mua hàng</a></li>
    </ul>
</div>
@foreach (var item in Model)
{
<div class="row">
    <div class="col-lg-4">
        <img src="~/Content/Image/@item.Images" />
    </div>
    <div class="col-lg-8">
        <a href="@Url.Action("GetDetailNews","Home", new { id = item.NewsID})" class="titleNews">@item.Title</a>
        <p>@item.Descrip</p>
    </div>
</div>
}
<style>
    .titleNews{
        font-size:20px;
        color:black;
    }
        .titleNews:hover {
            color: #ffb0bd;
            text-decoration:none;
        }
</style>