@{
    ViewBag.Title = "Quy trình tuyển dụng";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}

<link href="../../Content/cssMain.css" rel="stylesheet" />
<link href="../../Content/bootstrap.min.css" rel="stylesheet" />
<div class="heading" align="center">
    Về MOJI
    <ul>
        <li><a href="GioiThieu">Giới thiệu</a></li>
        <li><a href="TinTuc">Tin tức</a></li>
        <li><a href="VanHoa">Văn hóa</a></li>
        <li><a href="TuyenDung" class="active">Tuyển dụng</a></li>
        <li><a href="ChinhSachBanHang">Chính sách bán hàng</a></li>
        <li><a href="HuongDanMuaHang">Hướng dẫn mua hàng</a></li>
    </ul>
</div>
<br />
<br />
<img src="../../Content/Image/tuyendung.png" align="center" width="100%" style="margin-bottom:20px" />
