
@{
    ViewBag.Title = "Văn hóa";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}

<link href="../../Content/cssMain.css" rel="stylesheet" />
<link href="../../Content/bootstrap.min.css" rel="stylesheet" />
<div class="heading" align="center">
    Về MOJI
    <ul>
        <li><a href="GioiThieu">Giới thiệu</a></li>
        <li><a href="TinTuc">Tin tức</a></li>
        <li><a href="VanHoa" class="active">Văn hóa</a></li>
        <li><a href="TuyenDung">Tuyển dụng</a></li>
        <li><a href="ChinhSachBanHang">Chính sách bán hàng</a></li>
        <li><a href="HuongDanMuaHang">Hướng dẫn mua hàng</a></li>
    </ul>
</div>
<br />
<br />
<b>MOJI CHÀO ĐÓN GIAO DIỆN WEBSITE MỚI!</b>
<br />
<br />
<br />
<p>
    Các khách hàng thân yêu của Moji,<br />
    Moji trân trọng cảm ơn Quý khách hàng đã quan tâm, ủng hộ và sử dụng sản phẩm và dịch vụ của chúng mình trong thời gian qua.
    <br /><br />
    Nhằm nâng cao chất lượng phục vụ và đem đến trải nghiệm mua sắm trọn vẹn hơn đến với khách hàng, Moji đã tiến hành nâng cấp giao diện và đổi mới nội dung Website.
    <br />
    Moji mong muốn mang đến một giao diện mới, hiện đại, thân thiện cũng như cung cấp được nhiều thông tin về sản phẩm và dịch vụ chăm sóc đầy đủ nhất đến Quý khách hàng.
    <br /><br />
    Trong thời gian chuyển đổi, hệ thống của chúng mình không tránh khỏi những sai sót do lỗi chủ quan và khách quan nên rất mong Quý khách hàng thông cảm, Moji sẽ cố gắng khắc phục và đem lại sự phục vụ tốt nhất có thể.
    <br />
    Trân trọng cảm ơn sự ủng hộ của Quý khách hàng trong thời gian qua và hy vọng các bạn sẽ luôn ủng hộ và tiếp tục đồng hành với Moji trong thời gian tới.
    <br /><br />
    Thân mến,<br /><br />

    <i><b>Moji</b></i>
</p>
<img src="../../Content/Image/tintuc.png" align="center" width="100%" style="padding-bottom:20px" />


