@*<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify=@ViewBag.NumCart>
    <span class="iconify" data-icon="zmdi-shopping-cart" data-inline="false"></span>
</div>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>*@
