@{
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;">
        <img src="~/Content/Image/Product Not Found.png" />
        <p style="text-align:center;font-size:40px;">Product not found</p>
    </div>
</body>
</html>