@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1 style="font-weight:bold;font-size:40px;text-align:center;color:#b11b1b">401</h1>
        <p style="text-align:center">Not authorized</p>
    </div>
</body>
</html>
